.priceDetails {
  width: 100%;
  position: relative;
  color: #888;
}

.priceDetails p {
  position: absolute;
  top: 0;
  right: 30px;
  text-decoration: line-through;
}

.productFigure {
  width: 100%;
  position: relative;
}

.productFigure figcaption {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
}